/* desktop: 1024px and above */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }

  nav {
    height: 80px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .header-main-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;

  }
  .header-container {
    width: 500px;
    height: 350px;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin-right: 100px;
  }

  .compose-tweet {
    margin-top: 0px;
  }


}

/* tablets: minimum width of 768px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }


}