/* .tweet-container {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin-top: 40px;
} */

article {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin-top: 40px;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.fa-user-astronaut {
  padding-right: 15px;
}

.tweet-text {
  border-bottom: 3px solid black;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;

}

footer>div {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article.tweet:hover{
  box-shadow: 5px 10px #c1d0f1;
}

.fa-flag:hover{
  color: rgba(227, 184, 81, 0.907);
}

.fa-share:hover{
  color: rgba(227, 184, 81, 0.907);
}

.fa-heart:hover{
  color: rgba(227, 184, 81, 0.907);
}

